.inspiration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 40px;
  background-color: antiquewhite;
  color: black;
}

.inspiration-text {
  flex: 1;
  max-width: 50%;
  text-align: left;
}

.inspiration-text h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

.inspiration-text p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.inspiration-button {
  background-color: #b58850;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inspiration-button:hover {
  background-color: #a47545;
}

.slider-container {
  flex: 1;
  max-width: 50%;
}

.card {
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .inspiration {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .inspiration-text {
    max-width: 80%;
  }

  .slider-container {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .inspiration-text h1 {
    font-size: 2.5rem;
  }

  .inspiration-text p {
    font-size: 1rem;
  }

  .inspiration-button {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .inspiration-text h1 {
    font-size: 2rem;
  }

  .inspiration-text p {
    font-size: 0.9rem;
  }

  .inspiration-button {
    padding: 8px 16px;
  }
}
