.cart1-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #000;
  }
  
  .cart1-details {
    flex: 2;
    margin-right: 20px;
  }
  
  .cart1-details table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  .cart1-details th,
  .cart1-details td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .cart1-details th {
    background-color:antiquewhite;
  }
  
  .cart1-details input[type='number'] {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .cart1-totals {
    flex: 1;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
  }
  
  .cart1-totals h2 {
    margin-bottom: 20px;
  }
  
  .totals-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .checkout-btn1 {
    width: 50%;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .checkout-btn1:hover {
    background-color: #a47c2b;
    color: black;
  }
  
  .remove-btn1{
    width: 50%;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }

  @media (max-width: 1200px) {
    .cart1-container {
      flex-direction: column;
    }
  
    .cart1-details {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .cart1-totals {
      width: 100%;
    }
  
    .checkout-btn1,
    .remove-btn1 {
      font-size: 14px;
      padding: 8px;
    }
    .checkout-btn1{
        font-size: 14px;
        width: 20%;
    }
  }
  
  @media (max-width: 768px) {
    .cart1-details table {
      font-size: 14px;
    }
  
    .cart1-details th,
    .cart1-details td {
      padding: 10px;
    }
  
    .cart1-totals {
      padding: 15px;
    }
  
    
    .remove-btn1 {
      font-size: 14px;
    }
    .checkout-btn1{
        font-size: 14px;
        width: 20%;
    }
}
  
  @media (max-width: 480px) {
    .cart1-container {
      padding: 10px;
    }
  
    .cart1-details table {
      font-size: 12px;
    }
  
    .cart1-details th,
    .cart1-details td {
      padding: 8px;
    }
  
    .cart1-totals {
      padding: 10px;
    }
  
    .checkout-btn1,
    .remove-btn1 {
      font-size: 12px;
      padding: 8px;
    }
  }