.about-container {
    padding: 20px;
    /* max-width: 1200px; */
    margin: auto;
    background-color: white;
    margin-top: -2px;
}

.about-heading {
    text-align: center;
    margin-bottom: 20px;
}

.about-heading h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
}

.about-para {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
}

.about-img {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.about-img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .about-heading {
        grid-column: 1 / 3;
        margin-bottom: 30px;
    }

    .about-para {
        font-size: 1.1rem;
        margin-bottom: 30px;
    }

    .about-img {
        justify-content: flex-start;
    }

    .about-img img {
        max-width: 90%;
    }
}

@media (max-width: 767px) {
    .about-container {
        display: block;
    }

    .about-heading h1 {
        font-size: 2rem;
    }

    .about-para {
        font-size: 0.95rem;
    }

    .about-img img {
        width: 100%;
    }
}
