
.all-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    transition: all 0.1s ease-in-out;
    width: 100%;
  }
  
  
  .all-item:hover {
    scale: 1.05;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  

  .all-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
 
  .all-item h3 {
    font-size: 1.25rem;
    margin-top: 15px;
    font-weight: 500;
    color: #333;
  }
  

  .all-item p {
    font-size: 0.875rem;
    color: #777;
    margin: 10px 0;
    line-height: 1.5;
  }
  
  
  .all-item-price {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .all-item-old-price {
    font-size: 1rem;
    color: #888;
    text-decoration: line-through;
    margin-right: 10px;
  }
  
 
  .all-item-new-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e60000;
  }
  